<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Talgtna</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="/js/carousel.js" defer></script>
  </head>
  <body onload="workingHour(),CartFunction(),cartLen(), logedUser()">
    <%- include('components/nav') %> <% if (offers.length > 0) { %>
      <div class="message" style=" 
        display: block;   
        padding: 0 7px;
        background: red;
        display: flex;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        width: 100%;
    ">
        <p>مواعيد العمل من 9 صباحا حتى 2 صباحا في حالة طلب أي شيء سوف نقوم بالتواصل معك خلال ساعات العمل</p>
      </div>
      <div class="wrapper">
      <i id="left" class="bx bx-chevron-left"></i>
      <div class="carousel">
        <% offers.forEach(offer => { %>
        <a href="/<%= offer.company %>">
          <img src="<%= offer.image %>" draggable="false"
        /></a>
        <% }) %>
        
      </div>
      <i id="right" class="bx bx-chevron-right"></i>
      <div class="dots">
        <% offers.forEach(offer => {  %>
          <p class="dot"></p>
          <% }) %>
      </div>
    </div>
    <% } %>
    <div class="category">
      <% for(let i =0; i < categories.length; i++) {%>
      <form action="/categories" method="post" class="selectCate">
        <input
          type="hidden"
          name="category"
          value="<%= categories[i].name %>"
        />
        <button><%= categories[i].name %></button>
      </form>
      <% } %>
    </div>
    <div class="container">
      <% for(var i = 0; i < category.length; i++) { %>
      <% if (category[i].soon) { %>
        <div class="categories soon">
          <div id="soon">
            <h1>قريباً</h1>
          </div>
          <% } else { %>
            <div class="categories">
            <% } %>
        <a href="/<%=category[i].name%>">
          <img src="<%=category[i].image%>" alt="<%=category[i].name%>" />
          <p><%= category[i].name %></p>
        </a>
      </div>
      <% } %>
    </div>
    <%- include('components/footer') %>
    <script>
      "use strict";

function CartFunction() {
  if (!localStorage.getItem("cart")) {
    localStorage.setItem("cart", "[]");
  }
  if (!localStorage.getItem("Token")) {
    location.reload();
    localStorage.setItem("Token", "noToken");
  }
  if (!localStorage.getItem("State")) {
    localStorage.setItem("State", "noState");
  }
  if (!localStorage.getItem("favlist")) {
    localStorage.setItem("favlist", "0");
  }
}
if (!localStorage.getItem("POPUP")) {
  var Div = document.createElement("div");
  var a = document.createElement("a");
  var image = document.createElement("img");
  var button = document.createElement("button");
  button.innerHTML = "<i class='bx bxs-x-circle'></i>";
  var body = document.body;
  a.href = "/تشيزا";
  image.src = "/img/popup/1.png";
  a.appendChild(image);
  Div.appendChild(a);
  Div.appendChild(button);
  body.appendChild(Div);
  Div.setAttribute("id", "popup");
  button.setAttribute("id", "closepop");
  button.addEventListener("click", function (e) {
    Div.style.display = "none";
    var hour = new Date().getHours();
    localStorage.setItem("POPUP", hour);
    localStorage.removeItem("noPOP");
  });
}
function workingHour() {
  var hour = new Date().getHours();
  if (hour >= 2 && hour <= 8) {
    var message = document.querySelector(".message");
    message.style.display = "flex";
  } else {
    var _message = document.querySelector(".message");
    _message.style.display = "none";
  }
}
    </script>
  </body>
</html>
