<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Total Sales</title>
    <link rel="stylesheet" href="/css/admin/totalsales.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="totalorders">
        <p>مجموع الطلبات:</p>
        <p><%= orderslen %></p>
      </div>
      <div class="totalSales">
        <p>إجمالي المبيعات:</p>
        <p>ج<%= total %></p>
      </div>
      <div class="totalSales">
        <p>المجموع:</p>
        <p>ج<%= totalS %></p>
      </div>
      <div class="products">
        <div class="TH">
          <h3>اسم الشركة</h3>
          <h3>الاسم</h3>
          <h3>السعر</h3>
          <h3>سعر الشراء</h3>
          <h3>الكمية</h3>
          <h3>المجموع</h3>
          <h3>ربح خالص من المنتج</h3>
        </div>
        <div class="TB">
          <% product.forEach(p => { %>
          <div class="product">
            <p><%= p.compony %></p>
            <p><%=p.name%></p>
            <p><%=p.price%></p>
            <p><%= p.buingPrice %></p>
            <p>
              <%=p.quantity.reduce((acc, curr) => { return acc + curr; }, 0);%>
            </p>
            <p>
              <%= p.price * p.quantity.reduce((acc, curr) => { return acc +
              curr; }, 0); %>
            </p>
            <p><%= p.total %></p>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </body>
</html>
