<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=product.name%></title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/productId.css" />
  </head>
  <body onload="cartLen()">
    <%- include('../components/nav') %>

    <div id="message"></div>
    <div id="errmsg"></div>
    <div id="Product">
      <% if (product.available) { %>
      <div class="img">
        <form id="favourite">
          <input type="hidden" value="<%=product.id%>" id="productinp" />
          <button type="submit"><i class="bx bx-heart"></i></button>
        </form>
        <img src="<%= product.image %>" alt="<%= product.name %>" />
      </div>
      <div class="info">
        <h3><%= product.name %></h3>
        <p><%= product.description %></p>
        <p>سعر: <%= product.price %> ج</p>
        <div class="addOrFav">
          <input type="hidden" id="id" value="<%=product.id%>" />
          <input type="hidden" id="name" value="<%=product.name%>" />
          <input type="hidden" id="price" value="<%=product.price%>" />
          <input type="hidden" id="image" value="<%=product.image%>" />
          <button
            onclick="addItemToCart(parseInt('<%=product.id%>'))"
            class="addToCart"
            id="outside"
            type="submit"
          >
            <i class="bx bxs-cart-add"></i>
            أضف إلى السلة
          </button>
        </div>
      </div>
      <% } %>
    </div>
    <%- include('../components/footer') %>

    <script>
      const id = document.getElementById("id").value;
      const name = document.getElementById("name").value;
      const price = document.getElementById("price").value;
      const image = document.getElementById("image").value;
      const quantity = 1;

      let product = {
        id: id,
        name: name,
        price: price,
        image: image,
        quantity: quantity,
      };
      function addItemToCart(productId) {
        productId = product.id;
        if (cart.length == 0) {
          cart.push(product);
        } else {
          let res = cart.find((element) => element.id == productId);
          if (res === undefined) {
            cart.push(product);
          }
        }
        cartLen();
        localStorage.setItem("cart", JSON.stringify(cart));
      }

      const favourites = document.querySelectorAll("#favourite");
      favourites.forEach((favourite) => {
        favourite.addEventListener("submit", (e) => {
          e.preventDefault();
          const product = favourite.querySelector("#productinp").value;
          const userinp = JSON.parse(token);
          const searchParams = new URLSearchParams();
          searchParams.append("user", userinp);
          searchParams.append("product", product);

          addFav(searchParams);
        });
      });

      const message = document.getElementById("message");
      const errmsg = document.getElementById("errmsg");
      async function addFav(data) {
        const log = await fetch("/favourite", {
          method: "post",
          body: data,
        });

        const response = await log.json();

        if (response.success == 1) {
          message.style.right = "5px";
          message.textContent = response.msg;
          setTimeout(() => {
            message.style.right = "-255px";
          }, 3000);
          localStorage.setItem("favlist", JSON.stringify(response.length));
          favLength();
        } else {
          errmsg.style.right = "5px";
          errmsg.textContent = response.msg;
          setTimeout(() => {
            errmsg.style.right = "-255px";
          }, 3000);
        }
      }
    </script>
  </body>
</html>
