<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= subcate %></title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body onload="cartLen()">
    <%- include('../components/nav') %>
    <div id="message"></div>
    <div id="errmsg"></div>
    <div class="container">
      <% if (products.length > 0) { %> <% for(let i = 0; i < products.length;
      i++) { %>
      <div class="Product" id="<%= products[i].id %>">
        <% if (products[i].available) { %>
        <input type="hidden" id="id" value="<%=products[i].id%>" />
        <input type="hidden" id="name" value="<%=products[i].name%>" />
        <input type="hidden" id="price" value="<%=products[i].price%>" />
        <input type="hidden" id="image" value="<%=products[i].image%>" />
        <button
          onclick="addItemToCart(parseInt('<%=products[i].id%>'))"
          class="addToCart"
          id="outside"
          type="submit"
        >
          <i class="bx bxs-cart-add"></i>
        </button>
        <% } else { %>
        <div class="notAvailable">
          <h1>غير متاح</h1>
        </div>
        <% } %>
        <form id="favourite">
          <input type="hidden" value="<%=products[i].id%>" id="productinp" />
          <button type="submit"><i class="bx bx-heart"></i></button>
        </form>
        <a href="/product/show/<%= products[i].id %>">
          <img src="<%= products[i].image %>" alt="<%= products[i].name %>" />
          <div class="body">
            <p class="price"><%= products[i].price %> ج</p>
            <p class="name"><%= products[i].name %></p>
          </div>
        </a>
      </div>
      <% } %>
    </div>
    <script src="/js/product.js"></script>
    <%- include('../components/footer') %> <% } else { %>
    <p id="Err">لا توجد منتجات متاحة</p>
    <%- include('../components/footer') %>
    <script>
      const footer = document.getElementById("footer");
      footer.style.position = "absolute";
      footer.style.bottom = "0";
    </script>
    <% } %>
  </body>
</html>
