<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= order.id %></title>
    <link rel="stylesheet" href="/css/admin/order.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="container"
      style="display: grid; place-content: center; place-items: center"
    >
      <div class="orderRec" style="position: relative; padding-right: 20px">
        <p>معرف الطلب: <%=order.id.substr(24, 25)%></p>
        <p id="date">تاريخ الطلب: <%=order.date %></p>
        <p>العنوان: <%=order.address%></p>
        <p>المستخدم: <%=order.email%></p>
        <p>رقم الهاتف: <%="0"+order.phone%></p>
        <p>هاتف احتياطي: <%="0"+order.spare_phone%></p>
        <% JSON.parse(order.cart).forEach(item => { %>
        <div class="orderitem">
          <div class="itemInfo">
            <p><%= item.name %></p>
            <p>الكمية : <%= item.quantity %></p>
            <p>السعر : <%= item.price %> ج</p>
          </div>
        </div>
        <% }) %>
        <p>السعر الإجمالي للطلب : <%= order.total %> ج</p>
        <img src="/img/logo.jpeg" style="width: 100%" />
      </div>
    </div>
    <script>
      const date = document.getElementById("date");
      date.outerHTML = date.outerHTML.replace(
        "GMT+0200 (Eastern European Standard Time)",
        ""
      );
    </script>
    <script src="/js/admin/order.js"></script>
  </body>
</html>
