<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ORDERS</title>
    <link rel="stylesheet" href="/css/admin/order.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="searchForUser">
      <form id="myForm">
        البحث عن الطلبات
        <input type="search" name="searchUser" />
        <button type="submit" onclick="search()">
          <i class="bx bx-search"></i>
        </button>
      </form>
      <div id="result"></div>
    </div>
    <div id="container">
      <% if (orders.length > 0){ %> <% orders.forEach((order, index) => { %>

      <div class="orderRec" key="<%= index %>">
        <div class="icons">
          <form action="/delete/order" method="post">
            <input
              type="hidden"
              name="orderid"
              value="<%=
              order.id
            %>"
            />
            <button class="delete" type="submit">
              <i class="bx bx-trash"></i>
            </button>
          </form>
          <a
            id="orderPage"
            style="text-decoration: none; color: #333"
            class="<%= order.id %>"
          >
            <i class="bx bxs-printer"></i>
          </a>
        </div>
        <p>معرف الطلب: <%=order.id.substr(24, 25)%></p>
        <div style="display: flex; align-items: center">
          تاريخ الطلب:
          <h4 dir="ltr" style="color: #b3b2b2">
            <%=order.date.getFullYear()%>-<%= order.date.getMonth() +1%>-<%=
            order.date.getDate() %> <%= order.date.getHours() %>:<%=
            order.date.getMinutes() %>:<%= order.date.getSeconds() %>
          </h4>
        </div>
        <p>شارع: <%=order.street%></p>
        <p>عماره: <%=order.building%></p>
        <p>طابق: <%=order.floor%></p>
        <p>تسيلم في: <%= order.where %></p>
        <p>المستخدم: <%=order.name%></p>
        <p>رقم الهاتف: <%=order.phone%></p>
        <p>هاتف احتياطي: <%=order.spare_phone%></p>
        <p>المجموع: <%=order.total %> ج</p>

        <% order.cart.forEach(item => { %>
        <div class="orderitem">
          <img src="<%= item.image %>" alt="<%= item.name %>" />
          <div class="itemInfo">
            <p><%= item.name %></p>
            <p>الكمية: <%= item.quantity %></p>
            <p>السعر: <%= item.price %> ج</p>
            <p>السعر الإجمالي للطلب: <%= item.price * item.quantity %> ج</p>
          </div>
        </div>
        <% }) %>
        <div class="Delivered">
          تسليم الطلب: <% if (order.delivered) { %> نعم <% }else{ %> ﻻ <% } %>
          <form action="/edit/order/delivered" method="post">
            <input type="hidden" name="id" value="<%=order.id%>" />
            <select name="isDelivered">
              <option value="0" selected>لا</option>
              <option value="1">نعم</option>
            </select>
            <button type="submit">تغيير</button>
          </form>
        </div>
        <div class="Paid">
          تم الدفع: <% if (order.paid) { %> نعم <% }else{ %> ﻻ <% } %>
          <form action="/edit/order/paid" method="post">
            <input type="hidden" name="id" value="<%=order.id%>" />
            <select name="isPaid">
              <option value="0" selected>لا</option>
              <option value="1">نعم</option>
            </select>
            <input type="hidden" name="total" value="<%=order.total%>" />
            <input type="hidden" name="user" value="<%= order.user %>" />
            <input type="hidden" name="method" value="<%= order.method %>" />
            <button type="submit">تغيير</button>
          </form>
        </div>
      </div>
      <% }) %> <% } else { %>
      <h1>no orders yet</h1>
      <% } %>
    </div>
    <br />
    <div class="paginaiton">
      <% if(page > 1) { %>
      <a
        href="/admin/panle/orders/<%=userId%>/?page=<%=page-1%>"
        class="before"
      >
        <i class="bx bxs-skip-previous-circle"></i>
      </a>
      <% } %> <% for(let i = iterator; i <= endingLink; i++) { %> <% if(i ===
      page) { %>
      <a
        class="selectedLink"
        href="/admin/panle/orders/<%=userId%>/?page=<%=i%>"
      >
        <%=i%>
      </a>
      <% continue; %> <% } %> <%if (!i <0) {%>
      <a href="/admin/panle/orders/<%=userId%>/?page=<%=i%>"><%=i%></a>
      <%}%> <% } %> <% if(page < numberOfPages) { %>
      <a href="/admin/panle/orders/<%=userId%>/?page=<%=page+1%>" class="after"
        ><i class="bx bxs-skip-next-circle"></i>
      </a>
      <% } %>
    </div>
    <script src="/js/admin/order.js"></script>
  </body>
</html>
