<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>USERS</title>
    <link rel="stylesheet" href="/css/admin/users.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body onload="">
    <div id="container">
      <div
        class="Users"
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
        "
      >
        <% users.forEach((user, index) => { %>
        <div class="userRec" key="<%=index%>" style="margin: 0 5px">
          <form action="/delete/user" method="post">
            <input
              type="hidden"
              name="userid"
              value="<%=
              user.id
            %>"
            />
            <button class="delete" type="submit">
              <i class="bx bx-trash"></i>
            </button>
          </form>
          <p>معرف المستخدم: <%=user.id.substr(24, 25)%></p>
          <p>اسم المستخدم: <%=user.username%></p>
          <div class="manger">
            المستخدم مدير: <% if (user.Admin === 1) { %> نعم <% }else { %> ﻻ <%
            } %>
            <form action="/edit/user" method="post">
              <input type="hidden" name="id" value="<%=user.id%>" />
              <select name="isManger">
                <option value="0" selected>لا</option>
                <option value="1">نعم</option>
              </select>
              <button type="submit">تغيير</button>
            </form>
          </div>
          <p>البريد الالكتروني: <%=user.email%></p>
        </div>
        <% }) %>
      </div>
      <div class="searchForUser">
        <form id="myForm">
          البحث عن المستخدم
          <input type="search" name="searchUser" />
          <button type="submit" onclick="search()">
            <i class="bx bx-search"></i>
          </button>
        </form>
        <div id="result"></div>
      </div>
    </div>
    <script src="/js/admin/user.js"></script>
  </body>
</html>
