<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Products</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/admin/product.css" />
  </head>
  <body>
    <div id="container">
      <% products.forEach(product => { %>
      <div class="product">
        <form action="/delete/product" method="post" id="delete">
          <input type="hidden" name="userid" value="<%= product.id %>" />
          <button class="delete" type="submit">
            <i class="bx bx-trash"></i>
          </button>
        </form>
        <p>اسم :<%= product.name %></p>
        <p>الوصف :<%= product.description %></p>
        <p>السعر :<%= product.price %></p>
        <p>
          متاح : <% if (product.available ) { %> نعم <% } else { %> ﻻ <% } %>
        </p>
        <img src="<%= product.image  %>" />
      </div>
      <% }) %>
    </div>
    <script src="/js/admin/products.js"></script>
  </body>
</html>
