<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Products</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/admin/product.css" />
  </head>
  <body>
    <div class="category">
      <% for(let i =0; i < componies.length; i++) {%>
      <form class="selectCom">
        <input type="hidden" name="compony" value="<%= componies[i].name %>" />
        <button><%= componies[i].name %></button>
      </form>
      <% } %>
    </div>
    <div class="searchForUser">
      <form id="myForm">
        البحث عن الطلبات
        <input type="search" name="searchProduct" />
        <button type="submit">
          <i class="bx bx-search"></i>
        </button>
      </form>
      <div id="result"></div>
    </div>
    <div id="container">
      <div class="products">
        <% products.forEach(product => { %>
        <div class="product">
          <form action="/delete/product" method="post" id="delete">
            <input type="hidden" name="productid" value="<%= product.id %>" />
            <button class="delete" type="submit">
              <i class="bx bx-trash"></i>
            </button>
          </form>
          <p><%= product.id %></p>
          <p>اسم :<%= product.name %></p>
          <p>الوصف :<%= product.description %></p>
          <p>السعر :<%= product.price %></p>
          <form action="/edit/product" method="post" id="edit">
            <input type="hidden" name="productid" value="<%= product.id %>" />
            <input type="number" name="price" required placeholder="السعر" />
            <button class="delete" type="submit">تأكيد</button>
          </form>
          <div>
            <p>شركة :<%= product.compony %></p>
            <form action="/edit/product" method="post" id="edit">
              <input type="hidden" name="productid" value="<%= product.id %>" />
              <select name="compony" required>
                <option value="<%= product.compony %>" selected disabled>
                  <%= product.compony %>
                </option>
                <% componies.forEach(compony => { %>
                <option value="<%= compony.name %>"><%= compony.name %></option>
                <% }) %>
              </select>
              <button class="delete" type="submit">تأكيد</button>
            </form>
            <p>فئة :<%= product.category %></p>
            <form action="/edit/product" method="post" id="edit">
              <input type="hidden" name="productid" value="<%= product.id %>" />
              <select name="cate" required>
                <option value="<%= product.category %>" selected disabled>
                  <%= product.category %>
                </option>
                <% categories.forEach(category => { %>
                <option value="<%= category.name %>">
                  <%= category.name %>
                </option>
                <% }) %>
              </select>
              <button class="delete" type="submit">تأكيد</button>
            </form>
            <p>
              متاح : <% if (product.available ) { %> نعم <% } else { %> ﻻ <% }
              %>
            </p>
            <form action="/edit/product" method="post" id="edit">
              <input type="hidden" name="productid" value="<%= product.id %>" />
              <select name="available" required>
                <option value="1">نعم</option>
                <option value="0">لا</option>
              </select>
              <button class="delete" type="submit">تأكيد</button>
            </form>
          </div>
          <img src="<%= product.image  %>" />
        </div>
        <% }) %>
      </div>
      <form style="margin: 25px 0" class="editform" id="addform">
        <select name="category">
          <% categories.forEach(category => { %>
          <option value="<%= category.name %>"><%= category.name %></option>
          <% }) %>
        </select>
        <select name="subcategory">
          <% componies.forEach(compony => { %>
          <option value="<%= compony.name %>"><%= compony.name %></option>
          <% }) %>
        </select>
        <input type="text" name="name_ar" placeholder="الاسم" />
        <input type="text" name="dis_ar" placeholder="الوصف" />
        <input type="number" name="price" placeholder="السعر" />
        <input type="number" name="offer" placeholder="العرض" />
        <input type="hidden" name="available" value="1" />
        <input type="file" id="image" onchange="imageUploaded()" />
      </form>
    </div>
    <br />
    <div class="paginaiton">
      <% if(page > 1) { %>
      <a
        href="/admin/panle/products/<%=userId%>/?page=<%=page-1%>"
        class="before"
      >
        <i class="bx bxs-skip-previous-circle"></i>
      </a>
      <% } %> <% for(let i = iterator; i <= endingLink; i++) { %> <% if(i ===
      page) { %>
      <a
        class="selectedLink"
        href="/admin/panle/products/<%=userId%>/?page=<%=i%>"
      >
        <%=i%>
      </a>
      <% continue; %> <% } %>
      <a href="/admin/panle/products/<%=userId%>/?page=<%=i%>"><%=i%></a>
      <% } %> <% if(page < numberOfPages) { %>
      <a
        href="/admin/panle/products/<%=userId%>/?page=<%=page+1%>"
        class="after"
        ><i class="bx bxs-skip-next-circle"></i>
      </a>
      <% } %>
    </div>
    <script src="/js/admin/products.js"></script>
  </body>
</html>
